.titulo{
    font-weight: bold;
}

.tab-exib{
    padding: 50px !important; 
}

.body1{
    padding: 15px;
    font-size: 20px !important;
    font-family: 'Quicksand', sans-serif !important;
    color: #1c52db ;
}
.h5-sobre{
    color: #2b58c9 !important;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: bold !important; 
}

.caixa-sobre{
    border-radius: 32px 0;
    padding: 50px;
    width: 80vw;
    margin: 0 5%;
    background-color: #c3cff7 ;
}
